<menu class="blogroll">
	<a href="http://www.ravinggenius.com/">Raving Genius</a>
	<a href="http://www.randombydesign.com/">яandomByDesign</a>
	<a href="http://www.rip-lang.org/">Rip</a>
	<a href="http://www.isittheweekendyet.com/">IsItTheWeekendYet?</a>
	<a href="http://about.me/ravinggenius">About Me</a>
</menu>
