<header class="site-meta"{{#if @blog.cover}} style="background-image: url({{@blog.cover}})"{{/if}}>
	<h2 class="site-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h2>
	<div class="site-description">{{@blog.description}}</div>
</header>
