{{!< default}}

{{> site_header_secondary}}

{{#post}}
	<article class="{{post_class}}">
		<header class="page-meta">
			<h1 class="page-title">{{title}}</h1>
		</header>

		<section class="page-content">
			{{content}}
		</section>
	</article>
{{/post}}
