// http://www.yootheme.com/demo/wordpress/everest

$everest-default: #678CA6;
$everest-lilac: #6C6B70;
$everest-ocean: #3F6685;
$everest-desert: #B68F64;
$everest-grey: #878E94;
$everest-gold: #DCDAD5;

$black: #000000;
$white: #FFFFFF;

$mood-color: $everest-default;
