<footer class="credits">
	<small class="copyright">content © <a href="http://www.ravinggenius.com/">Thomas Ingram</a> • all rights reserved</small>
	<small class="copyright"><a href="https://github.com/ravinggenius/ghost-box_model">Box Model theme</a> © <a href="http://www.ravinggenius.com/">Thomas Ingram</a> • <a href="http://opensource.org/licenses/MIT">MIT license</a></small>
</footer>
